* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100lvh;
	background-color: #050908;
	cursor: none;
}

.cursorCircle {
	--circle-size: 40px;
	position: fixed;
	height: var(--circle-size);
	width: var(--circle-size);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(229, 108, 255, 1) 72%,
		rgba(196, 5, 217, 1) 83%
	);
	border-radius: 100%;
	top: calc(var(--circle-size) / 2 * -1);
	left: calc(var(--circle-size) / 2 * -1);
	pointer-events: none;
	box-shadow: 0px 0px 30px 10px violet;
	filter: blur(10px);
}
