
body{
  padding: 40px;
  background-color: #121212;  
}

.typewriterAnim {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 10px;
}

/* Animation */
.typewriterAnim {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 600px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: #a003f5;}
  to{border-right-color: transparent;}
}